<main>

    {{!-- Formulário --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">

                {{!-- Mensagemos --}}
                {{#condicionalIgualdade situacao "okCadastro"}}
                <div class="alert alert-success">Produto Cadastrado com sucesso!</div>
                {{/condicionalIgualdade}}

                {{#condicionalIgualdade situacao "okEditado"}}
                <div class="alert alert-success">Produto Editado com sucesso!</div>
                {{/condicionalIgualdade}}

                {{#condicionalIgualdade situacao "okRemovido"}}
                <div class="alert alert-success">Produto removido com sucesso!</div>
                {{/condicionalIgualdade}}

                {{#condicionalIgualdade situacao "falhaCadastro"}}
                <div class="alert alert-danger">Falha ao Cadastrado produto, tente novamente!</div>
                {{/condicionalIgualdade}}

                {{#condicionalIgualdade situacao "falhaEdicao"}}
                <div class="alert alert-danger">Falha ao Editado produto!</div>
                {{/condicionalIgualdade}}

                {{#condicionalIgualdade situacao "falhaRemover"}}
                <div class="alert alert-danger">Falha ao remover produto!</div>
                {{/condicionalIgualdade}}
            
                <form action="/cadastrar" method="post" enctype="multipart/form-data">
                <input type="text" name="" id="">
                    <input type="text"   name="nome" class="form-control" placeholder="Nome do Produto">
                    <input type="number" name="valor" class="form-control" placeholder="Valor do Produto">
                    <input type="file"   name="imagem" class="form-control">
                    <input type="submit" class="btn btn-primary" value="Cadastrar">
                </form>
            </div>
        </div>
    </div>

    {{!--Listagem  de Produtos--}}
    <div class="container">
        <div class="row"> 
            {{#each produtos}}           
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="../imagens/{{imagem}}" class="img">
                        <div class="textos">
                            <p>{{nome}}</p>
                            <p>R${{valor}}</p>
                        </div>
                        <a href="/formEditar/{{codigo}}" class="btn btn-warning">Alterar</a>
                        <a href="/remover/{{codigo}}&{{imagem}}" class="btn btn-danger">Remover</a>
                    </div>
                </div> 
            {{/each}}        

        </div>
    </div>
</main>